.nav {
  grid-area: n;
  background-color: #3f51b5;
  width: 270px;

  padding: 20px;
}
.item a{
  text-decoration: none;
  color: white;
}
.item a.active{
  color:#300685;
}

.item {
  color: white;
}
