.nav {
  grid-area: n;
  background-color: #8bac;
  width: 260px;

  padding: 20px;
}
.item a{
  text-decoration: none;
  color: white;
}
.item a.active{
  color:#300685;
}

.item {
  color: white;
}
